@using Microsoft.AspNetCore.Identity
@using TomasosPizza.IdentityModels

@inject SignInManager<IdentityKund> SignInManager;
@inject UserManager<IdentityKund> UserManager;

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @if (SignInManager.IsSignedIn(User))
            {
                <a class="navbar-brand h1" asp-area="" asp-controller="Navigation" asp-action="MenuView">Tomasos Pizza</a>
            }
            else
            {
                <h6>Tomasos Pizza</h6>
            }
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @* todo Items in If show on login screen, which they should not
                    @if (Context.Session.GetString("User") == null)*@
                @if (SignInManager.IsSignedIn(User))
                {
                    <li><a asp-area="" asp-controller="User" asp-action="LogOutAsync">Log Out</a></li>
                    <li><a asp-area="" asp-controller="Navigation" asp-action="UserEditAsync">Justera profil</a></li>
                    if (User.IsInRole("Administrator"))
                    {
                        <li><a asp-area="" asp-controller="Navigation" asp-action="AdminView">Kontrollpanel</a></li>
                    }
                }
                @*else
                    {
                        <li><a asp-area="" asp-controller="Navigation" asp-action="LogInView">Logga in</a></li>
                        <li><a asp-area="" asp-controller="Navigation" asp-action="RegisterView">Gå med</a></li>
                    }*@
            </ul>
        </div>
    </div>
</nav>