@model List<TomasosPizza.Models.Bestallning>

<div id="orderManager" class="tomasos-panel">
    <h2 class="col-lg-offset-1">Orderhantering</h2>
    @foreach (var order in Model)
    {
        <div class="form-group">
            @* todo change form to link, send asp-route-id to controller method *@
            <label class="control-label col-lg-8">@order.BestallningId : @order.BestallningDatum.Date av @order.Kund.Namn</label>
            <div class="col-lg-4">
                @if (order.Levererad)
                {
                    <p>Levererad</p>
                    <input class="checkbox-inline" type="checkbox" disabled value="true" checked="checked" />
                }
                else
                {
                    <a asp-controller="Admin" asp-action="SetOrderDelivered" asp-route-id="@order.BestallningId">Märk Leverera</a>
                    <input class="checkbox-inline" type="checkbox" disabled value="false" />
                }
            </div>
        </div>
    }
</div>