@model TomasosPizza.ViewModels.LoginViewModel

<div style="width: 100%">
    <div class="col-lg-6 tomasos-panel">
        <form asp-controller="User" asp-action="LogIn" asp-route-User="@Model" method="post">
            <table>
                <tr>
                    <td><label class="tomasos-text" asp-for="AnvandarNamn">Användarnamn</label></td>
                    <td><input type="text" asp-for="AnvandarNamn" required /></td>
                </tr>
                <tr>
                    <td><label class="tomasos-text" asp-for="Losenord">Lösenord</label></td>
                    <td><input type="password" asp-for="Losenord" maxlength="30" required /></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" Value="Logga in" /></td>
                </tr>
            </table>
        </form>
    </div>
    <div class="col-lg-6 tomasos-panel">
        @* todo? May have to be ViewComponent, as it uses another model entirely. If so, look up how to do one *@
        @Html.Partial("RegisterView");
    </div>
</div>