@model TomasosPizza.Models.Kund
<form asp-controller="User" asp-action="LogIn" asp-route-User="@Model" method="post">
    <label asp-for="AnvandarNamn">Användarnamn</label>
    <input type="text" asp-for="AnvandarNamn" required/>
    <br />
    <label asp-for="Losenord">Lösenord</label>
    <input type="password" asp-for="Losenord" maxlength="30" required />
    <br />
    <input type="button" Value="Logga in"/>
</form>